html {
    font-size: 62.5%;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(215, 215, 215)
}

.content {
    display: flex;
    height: inherit;
}

.login-wrapper {
    font-family: Montserrat;
    font-size: 2rem;
    background-color: rgb(93, 46, 164);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
}

.login {
    margin: auto 1.5rem;
}